{% extends "main/mainBase.html" %}
{% block title %}
  <title>Connexion</title>
  <link rel="stylesheet" href="static/css/connexion.css">
{% endblock title %}

{% block content %}
  <div id="inscription">
    <span id="inscription">Inscription</span>
    <form class="inscription" action="/inscription" method="post">
      {% csrf_token %}
      {% if errorInscription %}
      <span class="error"="error">La confirmation du mot de passe est différente du mot de passe</span><br><br>
      {% endif %}
      <div id="imgInscription">
        <img id="username" src="../../static/images/user.png" width='24' height='24'>
        <img id="prenom" src="../../static/images/user.png" width='24' height='24'>
        <img id="nom" src="../../static/images/user.png" width='24' height='24'>
        <img id="email" src="../../static/images/mail.png" width='24' height='24'>
        <img id="password" src="../../static/images/lock.png" width='24' height='24'>
        <img id="password2" src="../../static/images/lock.png" width='24' height='24'>
      </div>
      <div id="formInscription">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required><br>
        <input type="text" name="prenom" placeholder="Prénom" required><br>
        <input type="text" name="nom" placeholder="Nom" required><br>
        <input type="text" name="mail" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Mot de passe" required><br>
        <input type="password" name="password2" placeholder="Confirmation" required><br><br>
        <input type="submit" name="inscription" value="Inscription">
      </div>
    </form>
  </div>
  <div id="ligne5" class="lineV"></div>

  <div id="connect">
    <span id="connect">Connexion</span>
    <form class="connect" action="" method="post">
      {% csrf_token %}
      {% if error %}
      <span class="error">Nom d'utilisateur ou mot de passe incorrect</span><br><br>
      {% endif %}
      <div id="imgConnexion">
        <img id="username" src="../../static/images/user.png" width='24' height='24'>
        <img id="password" src="../../static/images/lock.png" width='24' height='24'>
      </div>
      <div id="formConnnexion">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required><br>
        <input type="password" name="password" placeholder="Mot de passe" required><br><br>
        <input type="submit" name="connexion" value="Connexion">
      </div>
    </form>
  </div>
{% endblock content %}
