<!DOCTYPE html>
<html>
<head>
  <title>Clicodrome</title>
</head>

<body>
  {% for res in affiche %}
  {{res.0.Mot}}
  <input type='checkbox' onclick='setVisible(this)'>
  <div onclick="show" style="display:none;">
  {% for formes in res.1 %}
  {{formes.Mot}}<br>
  {% endfor %}
  </div>
  <br>
  {% endfor %}
  <form action="/exportResultat" method="post">
    {% csrf_token %}
    <input type="submit" value="Exporter">
  <script>

    function setVisible(val){
      if(val.checked == true){
          val.nextElementSibling.style.display = 'block';
      }else{
          val.nextElementSibling.style.display = 'none';
      }
    }

  </script>
</body>
</html>
