{% extends "main/mainBase.html" %}
{% block title %}
  <title>Clicodrome - {{recherche}}</title>
  <link type="text/css" rel="stylesheet" href="../static/css/recherche.css">
{% endblock title %}

{% block content %}
  <div id="res">
    <span id="res">Résultats</span>
    <div id="format">
      <span id="mot">Mot</span>
    </div>
    <div id="afficheur">
      {% for res in affiche %}
        <div class="mot">
          <div id="_{{res.0.Mot}}" class="test">
            <span class="mot">{{res.0.Mot}}</span>
            <input type='checkbox' onclick='setVisible(this,_{{res.0.Mot}}Formes)'>
          </div>
          <div id="_{{res.0.Mot}}Formes" class="formes" onclick="setVisible(this)" style="left: -9999px;">
            {% for formes in res.1 %}
              {{formes.Mot}}<br>
            {% endfor %}
          </div>
          <span class="cat"></span>
          <div class="longligne"></div>
        </div><br>
      {% endfor %}
      <form action="/exportResultat" method="post">
        {% csrf_token %}
        <input type="submit" value="Exporter">
      </form>
    </div>
  </div>

  <script>
    function setVisible(val,mot){
      if(val.checked == true){
          mot.style.position = 'relative';
          mot.style.left = '13%';
      }else{
          mot.style.position = 'fixed';
          mot.style.left = '-9999px';
      }
    }
  </script>

{% endblock content %}
